@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* fonte padrão do site */
  --font-sans: var(--font-schibsted);

  /* fonte para títulos “display” */
  --font-display: var(--font-bricolage);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* utilitário pra usar em títulos */
@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
}
